*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 112%;
}

.card{
    background-color: #000000d0;
    color: #fff;
    padding: 1.7rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 1rem;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.search-bar{
    width: 100%;
    border: none;
    outline: none;
    padding: .3rem;
    border-radius: 10px;
    background-color: #a7a7a72b;
    color: #fff;
    font-family: inherit;
    font-size: 110%;
}

button{
    font-size: 1.1rem;
    margin: .5em;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
    background-color: #a7a7a72b;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
}

button:hover{
    background-color: #ececec6e;
}